cffi==1.14.5
honeycomb-beeline==2.16.2
libhoney==1.10.0
pynacl==1.4.0
six==1.15.0
wrapt==1.12.1
git+https://github.com/abstiles/diceydice@8c5beddbb2be6ddb641d37525fcd67bd55f2415c#egg=diceydice
typing-extensions==4.8.0
