cffi==1.14.5
honeycomb-beeline==2.16.2
libhoney==1.10.0
pynacl==1.4.0
six==1.15.0
wrapt==1.12.1
git+https://github.com/abstiles/diceydice@0825bbd7e5dddf668d543b648981ecb307bc1335#egg=diceydice
typing-extensions==4.8.0
